./EKS-TF/.terraform
./EKS-TF/.terraform.lock.hcl
./Jenkins-TF/.terraform
./Jenkins-TF/.terraform.lock.hcl
./EKS-TF/eks/.terraform
./EKS-TF/eks/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*/*.tfstate
*/*.tfstate.*
*/*/*.tfstate
*/.terraform/*